<section class="site-menu" role="nav">

{% for item in site.data.menu.toc %}
    <h3>{{ item.title }}</h3>
      <ul>
        {% for entry in item.subfolderitems %}
					{% if entry.page %}
						{% assign title = entry.title %}
					{% else %}
						{% for path in site.html_pages %}
							{% if path.url == entry.url %}
								{% assign title = path.title %}
							{% endif %}
						{% endfor %}
					{% endif %}
          <li class="{% if entry.url == page.url %}active{% endif %}"><a href="{{ entry.url | relative_url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
  {% endfor %}

</section>
